.cart-container {
    margin: 30px;
}

.product-list {
    display: flex; /* Change to flex */
    flex-wrap: wrap; /* Allow wrapping */
    justify-content: center; /* Center align items horizontally */
    gap: 20px;
}

.product-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-image {
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin-bottom: 10px;
}

.product-image img {
    width: 100%;
    height: auto;
}

.product-info {
    text-align: center;
}

.quantity-controls {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.quantity-controls button {
    background-color: #4fae5e;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.quantity-controls span {
    margin: 0 10px;
}

.add-to-cart {
    font-size: 24px;
    color: #4fae5e;
    cursor: pointer;
}

.total-price {
    margin-top: 20px;
    text-align: right;
}

.total-price button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.total-price button:hover {
    background-color: #45a049;
}
