.cart-container {
    margin: 20px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.product-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: flex;
}

.product-image {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: auto;
}

.product-info {
    flex-grow: 1;
    padding-left: 10px;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-controls button {
    background-color: #4fae5e;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.quantity-controls span {
    margin: 0 10px;
}

.total-price {
    margin-top: 20px;
    text-align: right;
}

.total-price button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.total-price button:hover {
    background-color: #45a049;
}
