footer {
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 1000; 
  margin-top: 80px;
  }
  
  .footer-container {
    background: rgb(24, 115, 24);
    color: #fff;
    padding: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 7xl;
    margin: 0 auto;
  }
  
  .footer-section {
    margin-bottom: 1rem;
  }
  
  .footer-section h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .footer-section p {
    font-size: 1rem;
    color: #A0AEC0;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 0.5rem;
  }
  
  .footer-section ul li a {
    color: #A0AEC0;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    color: #68D391;
  }
  
  .footer-bottom {
    background: #080e15;
    color: #A0AEC0;
    padding: 10px;
  }
  
  .footer-bottom .max-w-7xl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
  
  .footer-bottom a {
    color: #A0AEC0;
    text-decoration: none;
    gap: 20px;
  }
  
  .footer-bottom a:hover {
    color: #68D391;
  }
  
  .footer-icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #061312;
    transition: background-color 0.3s ease;
    margin-right: 0.25rem;
    padding-top: 0.25rem;
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
  
  .footer-icon:hover {
    background-color: #1b3b3c;
  }
  
  