/* home.css */
body {
    margin: 0;
    background-image: linear-gradient(135deg, rgb(133, 207, 214), rgb(162, 213, 120));
  }
  
  .main-container {
    display: flex;
  }
  
  .sidebar {
    width: 3%; /* Adjust as needed */
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    transition: width 0.3s ease; /* Add smooth transition effect */
    position:fixed;
    height: 100%;
    overflow-y: auto; /* Add scrollbar when needed */
  }
  
  .sidebar:hover {
    width: 7%; /* Adjust as needed */
  }
  
  .content-container {
    width: 100%; /* Adjust as needed */
    padding: 20px; /* Adjust margin to accommodate the sidebar */
    margin: 20px;
  }
  
  .sections-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  