.waste-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
}

.waste-title {
  font-size: 30px;
  font-weight: bold;
  color: rgb(70, 8, 33);
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 0px 0px 2px rgba(0, 0, 0.5, 0.8);
}

.waste-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(45deg, rgb(179, 224, 171), rgb(62, 131, 93));
}

.waste-item {
  margin-bottom: 20px;
}

.waste-checkbox {
  margin-left: 10px;
}

.waste-calculate-button {
  width: 30%;
  padding: 15px;
  margin-top: 20px;
  border: none;
  border-radius: 20px;
  background-color: #6c380d;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  color: #fcf9f9ce;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.waste-calculate-button:hover {
  background-color: #814319;
  transform: scale(1.1);
}

.waste-output-container {
  margin-top: 40px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  background-color: #f9f9f9;
  width: 800px;
}

.waste-output-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.waste-output-text {
  font-size: 18px;
  margin-bottom: 10px;
}

.waste-output-appreciation {
  font-style: italic;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(19, 112, 19);
}

.waste-output-subtitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.waste-output-list {
  list-style-type: none;
  padding: 0;
}

.waste-output-list-item {
  font-size: 16px;
  margin-bottom: 5px;
}
